<form action="/addDetails" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>add details</h1>

    <label for="uid"><b>uid</b></label>
    <input type="text" id="uid" name="uid" required>

    <label for="name"><b>name</b></label>
    <input type="text" id="name" name="name" required>

      <label for="registration"><b>registration</b></label>
    <input type="date" id="registration" name="registration" required>

    <label for="expire"><b>expire</b></label>
    <input type="date" id="expire" name="expiry" required>

<label for="url"><b>url</b></label>
    <input type="url" id="url" name="url" required>

    <label for="student"><b>student</b></label>
    <input type="text" id="student" name="student" required>

    <label for="mail"><b>mail</b></label>
    <input type="text" id="mail" name="mail" required>

    <label for="web"><b>web</b></label>
    <input type="text" id="web" name="web" required>

    <label for="contact"><b>contact</b></label>
    <input type="text" id="contact" name="contact" required>
  

    <div class="clearfix">
    <a href="/dashboard" class="btn orange">Cancel</a>
      <input type="submit" value="Save" class="btn">
    </div>
  </div>
</form>